@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');

:root {
  --brand-primary: #49b875;
  --brand-primary--inverted: #f2f2f2;
  --brand-secondary: #65ccb8;
  --brand-secondary--inverted: #57ba98;
  --font-family-sans-serif: 'Montserrat', sans-serif;
  --font-size-base: 16px;
  --text-color: #182628;
}
