:root {
  --primary: hsl(144deg 44% 50%);
  --secondary: hsl(168deg 50% 60%);
  --text: hsl(188deg 25% 13%);
  --link: hsl(159deg 42% 54%);
  --link-hover: hsl(186deg 22% 9%);
  --background: hsl(0deg 0% 95%);
  --success: hsl(122deg 39% 49%);
  --warning: hsl(45deg 100% 50%);
  --error: hsl(4deg 90% 58%);
  --shadow: 1.5px 1px 6px var(--text);
  --radius: 0;
  --head: "Montserrat", sans-serif;
  --body: "Montserrat", sans-serif;
  --line-height: 30px;
}

body {
  position: relative;
  max-width: 100%;
  overflow-x: hidden;
  color: var(--text);
  font-weight: 300;
  font-family: var(--body);
  line-height: var(--line-height);
  background: var(--background);
}

button,
.button {
  padding: 0.8rem 1.4rem;
  color: var(--text);
  font-size: 0.7rem;
  border: 1px solid var(--text);
  border-radius: var(--radius);
  cursor: pointer;
}

.btn-primary {
  color: var(--text);
  background: var(--primary);
  border-color: var(--primary);
}

.btn-delete {
  color: var(--background);
  background: var(--error);
  border-color: var(--error);
}

.btn-no-styles {
  color: var(--text);
  background: transparent;
  border-color: transparent;
}

.btn-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
}

input,
textarea {
  min-width: 300px;
  max-width: 300px;
  padding: 0.8rem;
  border: 1px solid var(--text);
  border-radius: var(--radius);
  appearance: none;
}

textarea {
  resize: none;
}

header {
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  margin-bottom: 1.5rem;
  padding: 1rem 1rem 0 0;
  background: var(--background);
}

nav {
  position: fixed;
  top: -10px;
  right: -10px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 320px;
  height: 100vh;
  background: var(--background);
  box-shadow: -7px -1px 7px 0 rgb(0 0 0 / 40%);
  transition: transform 0.3s ease-in-out;
}

nav #close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  padding: 1rem;
  font-size: 2.5rem;
  cursor: pointer;
}

nav ul {
  align-self: flex-end;
  padding: 3.5rem 1rem;
  text-align: right;
  list-style: none;
}

nav ul li {
  margin: 1rem 0;
}

nav ul li a {
  color: var(--link-hover);
  font-size: 2.5rem;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

nav ul li a.active {
  color: var(--primary);
}

main {
  display: flex;
  flex-direction: column;
  min-height: 55vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
  overflow-x: hidden;
  text-align: center;
}

.cover-image {
  width: 100vw;
  margin: 0;
  padding: 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 500px;
  margin: 0.5rem;
  cursor: pointer;
}

.card:hover {
  box-shadow: var(--shadow);
  transform: scale(1.02);
}

.card-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 70vw;
}

.list ul {
  list-style: none;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
  padding: 1rem 0;
}

footer a {
  color: inherit;
  text-decoration: none;
}

@media (min-width: 768px) {
  main {
    max-width: auto;
    min-height: 75vh;
    margin: 0;
    padding: 0;
  }

  p {
    max-width: 600px;
    margin: 1.5rem auto;
  }

  .card-grid {
    flex-flow: row wrap;
    width: 100vw;
  }
}
