:root {
  --primary: hsl(144, 44%, 50%);
  --secondary: hsl(168, 50%, 60%);
  --text: hsl(188, 25%, 13%);
  --link: hsl(159, 42%, 54%);
  --link-hover: hsl(186, 22%, 9%);
  --background: hsl(0, 0%, 95%);
  --success: hsl(122, 39%, 49%);
  --warning: hsl(45, 100%, 50%);
  --error: hsl(4, 90%, 58%);
  --shadow: 1.5px 1px 6px var(--text);
  --radius: 0;
  --head: "Montserrat", sans-serif;
  --body: "Montserrat", sans-serif;
  --line-height: 30px;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
  font-family: var(--body);
  font-weight: 300;
  line-height: var(--line-height);
  background: var(--background);
  color: var(--text);
}

button,
.button {
  color: var(--text);
  border: 1px solid var(--text);
  padding: 0.8rem 1.4rem;
  border-radius: var(--radius);
  cursor: pointer;
  font-size: 0.7rem;
}

.btn-primary {
  background: var(--primary);
  border-color: var(--primary);
  color: var(--background);
}

.btn-delete {
  background: var(--error);
  border-color: var(--error);
  color: var(--background);
}

.btn-no-styles {
  background: transparent;
  border-color: transparent;
  color: var(--text);
}

.btn-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.form-group {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

input,
textarea {
  min-width: 300px;
  max-width: 300px;
  border-radius: var(--radius);
  border: 1px solid var(--text);
  appearance: none;
  padding: 0.8rem;
}

textarea {
  resize: none;
}

header {
  top: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--background);
  z-index: 1;
  padding: 1rem 0;
  margin-bottom: 1.5rem;
}

nav {
  position: fixed;
  top: -10px;
  right: -10px;
  z-index: 1;
  width: 320px;
  height: 100vh;
  background: var(--background);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: -7px -1px 7px 0px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease-in-out;
}

nav #close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  padding: 1rem;
  cursor: pointer;
  font-size: 2.5rem;
}

nav ul {
  list-style: none;
  align-self: flex-end;
  text-align: right;
  padding: 3.5rem 1rem;
}

nav ul li {
  margin: 1rem 0;
}

nav ul li a {
  text-decoration: none;
  color: var(--link);
  font-size: 2.5rem;
}

nav ul li a:hover {
  text-decoration: underline;
}

nav ul li a.active {
  color: var(--primary);
}

main {
  display: flex;
  flex-direction: column;
  min-height: 55vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100vw;
}

.cover-image {
  width: 100vw;
  padding: 0;
  margin: 0;
}

.card {
  width: 300px;
  height: 500px;
  cursor: pointer;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card:hover {
  box-shadow: var(--shadow);
  transform: scale(1.02);
}

.card-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 70vw;
}

.list ul {
  list-style: none;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
  padding: 1rem 0;
}

footer a {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 768px) {
  main {
    min-height: 75vh;
    max-width: auto;
    padding: 0;
    margin: 0;
  }

  p {
    max-width: 600px;
    margin: 1.5rem auto;
  }

  .card-grid {
    width: 100vw;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
